{% extends 'songs/base.html' %}
{% block title %}Add a New Album{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="content-section">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Add a New Album</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-success btn-md" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
