{% extends 'songs/base.html' %}
{% load static %}
{% block title %}{{ album }}{% endblock %}
{% block content %}


    <div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-md-3">
            <div class="card" style="margin-top: 25px;">
                <div class="card-body" style="padding: 10px;">
                        {% if album.album_logo %}
                            <img src="{{ album.album_logo.url }}" class="img-fluid img-thumbnail" style="width:100%;margin-bottom: 15px;">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    <h2>{{ album.album_title }} <small class="text-muted" style="font-size:20px;">({{ album.genre }})</small></h2>
                    <h3>{{ album.artist }}</h3>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-md-9">

            <ul class="nav nav-pills" style="margin-top: 25px;">
                <button type="button" class="btn btn-primary btn-md">
                    <li role="presentation" class="nav-item active"><a style="color: white;text-decoration-line: none;" href="{% url 'songs:detail' album.id %}">View All Tracks</a></li>
                </button>&nbsp;&nbsp;
                <button type="button" class="btn btn-info btn-md">
                <li role="presentation" class="nav-item"><a style="text-decoration-line: none;color: white;" href="{% url 'songs:track-add' album.id %}">Add New Song</a></li>
                </button>&nbsp;&nbsp;
                <button type="button" class="btn btn-warning btn-md"  >
                    <li role="presentation" class="nav-item active"><a  style="color: white;text-decoration-line: none;" href="{% url 'songs:album-update' album.id %}">Edit Album Cover</a></li>
                </button>
            </ul>
            <div class="card" style="margin-top: 25px;">
                <div class="card-body">

                    <h3>All Tracks</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Audio File</th>
                            <th>Favorite</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in album.song_set.all %}
                            <tr>
                                <td>{{ song.song_title }}</td>
                                <td>
                                    <a target="_blank" href="{{ song.audio_file.url }}">
                                        <button type="button" class="btn btn-success btn-sm">
                                            <i class="fa fa-play fa-lg"></i>&nbsp; Play
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    &nbsp;&nbsp;<a href="#" class="btn btn-light btn-sm"><i class="fa fa-star fa-lg"></i></a>
                                </td>
                                <td>
                                        <a href="{% url 'songs:song-delete' album.id song.id %}">
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <i class="fa fa-times fa-lg"></i>&nbsp; Delete
                                        </button>
                                        </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock content %}

<!--     <form action="{% url 'songs:favorite' album.id %}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}
                {% if song.is_favorite %}
                    <img src="{% static 'songs/images/Star-icon.png' %}" width="22" height="22">
                {% endif %}
            </label>
            <br>
        {% endfor %}
        <input type="submit" value="Favorite">
    </form> -->

