{% extends 'songs/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="content-section">
                <div class="media">
                    <img class="rounded-circle" src="{% static 'songs/images/am.jpg' %}" style="width: 100px;height: 125px;width: 125px;margin-right: 60px;margin-bottom: 16px;">
                    <div class="media-body">
                      <h2 class="navbar-brand" style="font-size: 50px;"><strong>Amber Music</strong></h2>
                      <p class="text-secondary" style="font-size: 25px;"><b>cloud music player</b></p>
                    </div>

                </div>
                <div class="border-top">
                    <div style="margin-top: 20px;font-size: 20px;">
                        <p>
                            <b>Upload, store, and play all of your music from the cloud. You can now manage and listen to your music from any device, anywhere in the world.</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<audio autoplay>
  <source src="{% static 'songs/Drunk Dial--MQEsJR5zNw.mp3' %}" type="audio/mp3">
  Your browser does not support the audio element.
</audio>
{% endblock content %}



