{% extends 'songs/base.html' %}
{% load staticfiles %}
{% block title %}AmberBeats{% endblock title %}
{% block js %}
<script src="{% static 'songs/script.js' %}"></script>
{% endblock js %}
{% block content %}


<div style="margin-top: 70px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="content-section">
                    <div class="media" style="text-align: center;">
                        <h2 class="navbar-brand" style="font-size: 50px;display: inline-block;"><strong>Amber</strong></h2>
                        <img class="rounded-circle" src="{% static 'songs/images/am.jpg' %}" style="display: inline-block;height: 125px;width: 125px;margin-bottom: 30px;">
                        <h2 class="navbar-brand" style="font-size: 50px;display: inline-block;"><strong>Beats</strong></h2>
                        <div class="media-body">
                          <p class="text-secondary" style="font-size: 25px;"><b>cloud music player</b></p>
                        </div>

                    </div>
                    <div class="border-top">
                        <div style="margin-top: 20px;font-size: 24px;">
                            <p>
                                <b>Upload, store, and play all of your music from the cloud. You can now manage and listen to your music from any device, anywhere in the world.</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
