{% extends 'songs/base.html' %}
{% block title %}All Songs{% endblock %}

{% block content %}
<div class="container songs-container">

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills" style="margin-bottom: 25px;">
                <li role="presentation"><a href="{% url 'songs:all-songs' %}">View All</a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Song Title</th>
                                <th>Artist</th>
                                <th>Audio File</th>
                                <th>Album</th>
                                <!-- <th>Favorite</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in song_list %}
                                <tr>
                                    <td>{{ song.song_title }}</td>
                                    <td>{{ song.album.artist }}</td>
                                    <td>
                                        <a target="_blank" href="{{ song.audio_file.url }}">
                                            <button type="button" class="btn btn-success btn-xs">
                                                <i class="fa fa-play fa-lg"></i>&nbsp; Play
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'songs:detail' song.album.id %}">
                                            <img src="{{ song.album.album_logo.url }}" class="img-fluid" style="width: 40px; float: left; margin-right: 10px;" />
                                        </a>
                                        <a  href="{% url 'songs:detail' song.album.id %}">{{ song.album.album_title }}</a>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock content %}
